@model IEnumerable<Order>
@{
    ViewData["Title"] = "CustomerOrders";
    var price = 0.0;
}

tot
@foreach(var order in Model)
{
    <div class="card">
        <div class="card-header">
            @order.Id
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Status:</strong> @order.Status</h5>
            <h5 class="card-title"><strong>Status:</strong> @order.Date</h5>
            
            @foreach (var item in @order.OrderdItems)
            {
                price += @item.Product.Price;
            }
            <h5 class="card-title"><strong>Total:</strong> @price</h5>
            @price = 0;
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}