@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Archived Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var archivedOrders = ViewData["archivedOrders"] as List<OrderArchive>;
}
@{
    <table class="table table-striped table-hover" style="margin-top:20px;  margin-right:100px; margin-left:20px; margin-bottom:20px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Archive Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in archivedOrders)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.ArchiveDate.ToShortDateString()</td>
                    <td>@item.Order.Customer.Fname @item.Order.Customer.Lname</td>
                    <th scope="row">@item.Order.Address.ShippmentCities.CityName</th>
                    <th scope="row">
                        <a asp-controller="Order" asp-action="DeleteArchivedOrder" asp-route-orderId="@item.Id" style="color: #cecece;" class="btn btn-danger">Delete Order</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
